In [2]:
sentence = """Thomas Jefferson began building Monticello at the age 26."""
sentence.split()

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 '26.']

In [3]:
import numpy as np

In [4]:
token_sequence = sentence.split()
vocab = sorted(set(token_sequence))
no_of_tokens = len(token_sequence)
vocab_size = len(vocab)
one_hot_vector = np.zeros((no_of_tokens, vocab_size), int)
for i, word in enumerate(token_sequence):
    one_hot_vector[i, vocab.index(word)] = 1
one_hot_vector

array([[0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0]])

In [5]:
import pandas as pd

In [6]:
pd.DataFrame(one_hot_vector, columns=vocab)

   26.  Jefferson  Monticello  Thomas  age  at  began  building  the
0    0          0           0       1    0   0      0         0    0
1    0          1           0       0    0   0      0         0    0
2    0          0           0       0    0   0      1         0    0
3    0          0           0       0    0   0      0         1    0
4    0          0           1       0    0   0      0         0    0
5    0          0           0       0    0   1      0         0    0
6    0          0           0       0    0   0      0         0    1
7    0          0           0       0    1   0      0         0    0
8    1          0           0       0    0   0      0         0    0

In [7]:
pd.DataFrame(pd.Series(dict([(token, 1) for token in sentence.split()])), columns=['sent']).T

      Thomas  Jefferson  began  building  Monticello  at  the  age  26.
sent       1          1      1         1           1   1    1    1    1

In [8]:
sentences = """Thomas Jefferson began building Monticello at the age of 26.\n"""
sentences += """Construction was done mostly by local masons and carpenters.\n"""
sentences += "He moved into the South Pavilion in 1770.\n"
sentences += """Turning Monticello into a neoclassical masterpiece was Jefferson's obsession."""

In [9]:
corpus = {}
for i, sentence in enumerate(sentences.split('\n')):
    corpus['sent{}'.format(i)] = dict((tok, 1) for tok in sentence.split())

corpus

{'sent0': {'Thomas': 1,
  'Jefferson': 1,
  'began': 1,
  'building': 1,
  'Monticello': 1,
  'at': 1,
  'the': 1,
  'age': 1,
  'of': 1,
  '26.': 1},
 'sent1': {'Construction': 1,
  'was': 1,
  'done': 1,
  'mostly': 1,
  'by': 1,
  'local': 1,
  'masons': 1,
  'and': 1,
  'carpenters.': 1},
 'sent2': {'He': 1,
  'moved': 1,
  'into': 1,
  'the': 1,
  'South': 1,
  'Pavilion': 1,
  'in': 1,
  '1770.': 1},
 'sent3': {'Turning': 1,
  'Monticello': 1,
  'into': 1,
  'a': 1,
  'neoclassical': 1,
  'masterpiece': 1,
  'was': 1,
  "Jefferson's": 1,
  'obsession.': 1}}

In [10]:
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T

In [11]:
df[df.columns[:15]]

,Thomas,Jefferson,began,building,Monticello,at,the,age,of,26.,Construction,was,done,mostly,by
sent0,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0
sent1,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1
sent2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
sent3,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0

In [12]:
df = df.T
df

              sent0  sent1  sent2  sent3
Thomas            1      0      0      0
Jefferson         1      0      0      0
began             1      0      0      0
building          1      0      0      0
Monticello        1      0      0      1
at                1      0      0      0
the               1      0      1      0
age               1      0      0      0
of                1      0      0      0
26.               1      0      0      0
Construction      0      1      0      0
was               0      1      0      1
done              0      1      0      0
mostly            0      1      0      0
by                0      1      0      0
local             0      1      0      0
masons            0      1      0      0
and               0      1      0      0
carpenters.       0      1      0      0
He                0      0      1      0
moved             0      0      1      0
into              0      0      1      1
South             0      0      1      0
Pavilion          0      0      1      0
in                0      0      1      0
1770.             0      0      1      0
Turning           0      0      0      1
a                 0      0      0      1
neoclassical      0      0      0      1
masterpiece       0      0      0      1
Jefferson's       0      0      0      1
obsession.        0      0      0      1

In [13]:
df.sent0.dot(df.sent1)
df.sent0.dot(df.sent2)
df.sent0.dot(df.sent3)

1

In [14]:
[(k,v) for(k,v) in (df.sent0 & df.sent3).items() if v]

[('Monticello', 1)]

In [15]:
import re